li{
    list-style: none;
    margin-left: 5px;
}

ul{
    font-size: large;
    font-style: oblique;
    color: #548da5;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid;
    width: 300px;
    padding: 2px;
    border-radius: 4px;
}

.btnAdd{
    margin-left: 5px;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
    border-radius: 4px;
}

.flexContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.taskBox{
    border: 2px solid #548da5;
    width: 350px;
    height: 350px;
    margin: 20px;
}

.taskBoxBody{
    height: 329px;
    width: 350px;
    border: 1px;
    overflow: auto;
}

.taskBoxHead{
    border-bottom: 1px solid #548da5;
    text-align: center;
    height: 20px;
}

.plusImg{
    width: 35px;
    height: 35px;
    margin-left: 5px;
}

/* The Modal (background) */
.addModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: #5e6160;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.addModal-header {
    padding: 2px 16px;
    background-color: #6d96b8;
    color: white;
}

/* Modal Content/Box */
.addModal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto; /* 15% from the top and centered */
    margin-top: 100px;
    padding: 0px;
    border: 1px solid    #888;
    width: 50%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.addModal-body {padding: 2px 16px;}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-body p{
    font-size: x-large;
    margin-right: 5px;
    margin-bottom: 10px;
}