<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<script src="js/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script src="js/angular.js"></script>
<script src="js/app.js"></script>
<!-- Latest compiled and minified CSS
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
 -->
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <meta charset="UTF-8">
    <title> Hello </title>
</head>
<body ng-app="TODO">
    <div ng-controller="tasksCtrl">
        <!--Modal -->
        <div id="addTaskBoxModal" class="addModal">
            <div class="addModal-content">
                <div class="addModal-header">
                    <span ng-click="closeModal()" class="close">x</span>
                    <h3>{{modalTitle}}</h3>
                </div>
                <div class="addModal-body">
                    <form>
                        <p>Name: <input id="taskBoxNameId" type="text" ng-model="taskBoxName"></p>
                        <p ng-hide="isBoxModal">Task Priority: <input type="text" ng-model="taskPriority"></p>
                        <input type="submit" class="btnAdd" value="Add" ng-click="addTaskBox(taskBoxName, taskPriority)">
                    </form>
                </div>
            </div>
        </div>

        <div class="flexContainer">
            <div class="taskBox" ng-repeat="box in boxes">
                <div class="taskBoxHead">
                    {{box.boxName}}
                </div>
                <div class="taskBoxBody">
                        <li>
                            <ul ng-repeat="task in box.tasks"> {{task.name}} </ul>
                        </li>
                    <input type="image" ng-click="openModal($index)" class="plusImg" src="images/plus.png">
                </div>
            </div>
        </div>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons" ng-click="openModal()">add</i></a>
        </div>
    </div>
</body>
</html>